body {
  font-family: 'Open Sans', sans-serif;
  color: #201b2d;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

div,
p,
input,
button,
form,
span,
a,
ul,
li {
  box-sizing: border-box;
}

p {
  line-height: 1, 65em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  background: rgba(71, 62, 95, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(71, 62, 95, 1) 0%,
    rgba(42, 34, 64, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(71, 62, 95, 1)),
    color-stop(100%, rgba(42, 34, 64, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(71, 62, 95, 1) 0%,
    rgba(42, 34, 64, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(71, 62, 95, 1) 0%,
    rgba(42, 34, 64, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(71, 62, 95, 1) 0%,
    rgba(42, 34, 64, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(71, 62, 95, 1) 0%,
    rgba(42, 34, 64, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#473e5f', endColorstr='#2a2240', GradientType=1 );
  padding-top: 100px;
  color: #fff;
  padding-bottom: 255px;
}

.offer {
  margin-top: 176px;
  width: 490px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 36px;
}
.title span {
  color: #48ed8e;
}

.intro {
  margin-bottom: 37px;
  margin-top: 30px;
  width: 380px;
}

.btn {
  background: #ed9619;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  border-radius: 100px;
  display: block;
  width: 205px;
  padding: 19px 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.5 s ease;
}

.btn:hover {
  background: #d9860e;
}
.desktop {
  margin-top: 72px;
}
.section-titel {
  font-size: 30px;
}
.learn {
  padding-top: 108px;
  padding-bottom: 120px;
}
.skills {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.skill-title {
  font-size: 18px;
}
.skill-text {
  margin-top: 7px;
}

.skill {
  width: 350px;
  background: url(/wayup_lesson_one/img/icon1.jpg) no-repeat left top;
  padding-left: 107px;
}

.skill-free {
  width: 380px;
  background: url(/wayup_lesson_one/img/icon2.jpg) no-repeat left top;
}
.skill-change {
  background: url(/wayup_lesson_one/img/icon3.jpg) no-repeat left top;
}

.mail {
  background: #efecf4;
  padding: 173px 0 190px;
}

.input {
  width: 474px;
  border: 1px solid #bfb8d1;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 100px;
  height: 54px;
  padding-left: 38px;
}

.btn-form {
  border: 0;
  cursor: pointer;
  display: inline;
  margin-left: 11px;
  font-size: 15px;
}

.form {
  margin-top: 40px;
}

.credits {
  margin: 0;
  color: #fff;
}

.footer {
  padding: 30px;
  background: #201b2d;
}
